@media screen and (max-width:576px) {
    nav{
        flex-direction: column;
         background: balck;
        margin-left: px;
        width: auto;
        height: auto;
        margin-top: 103px;
    }
    .cardd{
        flex-direction: column;
    }
    .nab-1{
        flex-direction: column;
       
    }
    .nab-3{
        margin-right: 100px;
       
    }
    .nab-2{
        flex-direction: column;
    }
    .part-2-1{
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        margin-right: 300px;
        
    }
    .box-1-title{
        
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    
    }
    .goat{
        font-size: 80px;
        text-align: center;
    }
    .img-1{
        width: 400px;
    }
    .img-3{
        width:350px
    }
    
    .immg{
        width: 100%;
        margin-bottom: 250px;
    }
    .box-1{
        margin-left: 300px;
    }
    
    .part-3{
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 100px;
        justify-content: center;
        align-items: center;

    }
    .part-3-h{
        font-size: 30px;
    }
    .part-3-p{
        text-align: center;
        font-size: 13px;
    }
    .part-5-h{
        text-align: center;
    }
    .part-3-cont,.we-are-gammer{
        text-align: center;
        margin-top: 0px;
    }

    /* PArt --4 --*/
    .cardd{
        margin:0px auto;
        align-items: center;
        justify-content: center;

    }
    .part-5{
        flex-direction: column;
    }
    .foot-nab{
        flex-wrap: wrap;
        margin: 40px 100px;
    }
    .icon-1{
        margin: auto;
    }
    .trems{
        justify-content: space-between;
        flex-wrap: wrap;
      
    }
    .round-img{
        margin: 0px 00px;
    }
    .last-p{
        gap:0px;
    }
   
}


/* Tab version*/
@media screen and (min-width:576px) and (max-width:992px) {
    .part-2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    nav{
        flex-direction: column;
    }
    .box-1{
        height: auto;
        width: auto;
        margin: 50px 50px;
    }
    .box-1-text{
        margin: auto;
        text-align: center;
    }
   .part-3{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px auto;
    margin-bottom: 250px;
   }
   .cardd{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 25px;
    align-content: center;
    margin-left: 70px;
   }
   .part-5{
    flex-direction: column;
    gap: 0px;
    column-gap: 0px;
   }
   .img-3{
    height: 450px;
    width: 450px;
    margin: auto;
   }
   .img-4{
    height: 350px;
    width: 300px;
    margin-left: 80px;
    
   }
}